---
layout: default
title: About Michael
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Michael Frizzell</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a writer, photographer, healthcare worker, and dad in the Missouri Ozarks
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>I was born and grew up in suburban Detroit in the 1980s. When I was 7, my parents packed up our family and moved to Queretaro, Mexico. We spent a year there learning Spanish and then moved to Tarija, Bolivia, a city in the heart of South America. My parents, Baptist missionaries, still live there. From there, I moved to rural Michigan, finished high school, got married, and moved to Springfield, Missouri, the Queen City of the Ozarks. For the past 20 years I've called Missouri my home, raising 4 children and 2 dogs here. I am currently a health information management professional for a large health system. </p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“Without change, something sleeps inside us, and seldom awakens. The sleeper must awaken.” - Frank Herbert, Dune</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Write and post consistently</li>
          <li>Continue learning how to be a good dad and husband</li>
          <li>Read more</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Finally finish that novel I've been working on for a decade</li>
          <li>Lose that weight and stay healthy</li>
          <li>Get out of the corporate rat face</li>
          <li>Travel to every national park</li>
        </ul>
       
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
